.video-js.vjs-slides {
	position: relative;
}
.video-js.vjs-slides.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  margin-top: 20px;
}
.video-js.vjs-slides .video-footer {
  margin: 0 1rem;
}
.video-js.vjs-slides .media-content .overlay-panel .slides-list li{
  width: 100%;
}
.video-js.vjs-slides .video-slides-container {
  width: 25%;
  bottom: 10px !important;
}
.video-js.vjs-slides .video-footer .video-author img {
  max-width: 20px;
}

/* Temporary, until author is properly handled */
.video-js.vjs-slides .video-footer .video-author {
  visibility: hidden;
}
